CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile
compile_commands.json
CPackConfig.cmake
CPackSourceConfig.cmake
_deps/
build/
out/
*_automoc.cpp
moc_*.cpp
qrc_*.cpp
ui_*.h
cmake-build-*/

*.moc
moc_*.cxx
qrc_*.cxx
ui_*.h
*.rcc
*.qrc
*.pri
*.prl

*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.out
*.app
*.dSYM

.idea/
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace
.vscode/
.cache/
*.vcxproj.user

Debug/
Release/
RelWithDebInfo/
MinSizeRel/
debug/
release/

*.autosave
*.qmlproject.user
*.pro.user
*.creator.user